

:root {
    --primary-text-color: #757575;
    --secondary-title-color: #fff; 
    --primary-title-color: #212121;
    --accent-color: #2196F3;
    --footer-bckg-color: #2F303A;
    --primary-bg-color: #E5E5E5;
}

body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Helvetica, Ubuntu, noto, arial, sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    letter-spacing: 0.03em;


}
.list{
    list-style: none;
}

.page-header{
    background-color: var(--secondary-title-color);
    border-bottom: 1px solid #2196F3;
    font-size: 14px;
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;   
    color: var(--primary-title-color); 
}

.web-logo{
    color: var(--accent-color);
}

.page-header a:hover,
.page-header:focus{
  color: var(--accent-color);  
}

.hero{
    background-color: var(--footer-bckg-color);
}
.hero-title{
    color: var(--secondary-title-color);
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-title-color);
}

.sub-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-title-color);

}
.text{
    font-size: 14px;
    line-height: 1.71;
}

.name-title{
    color: var(--primary-title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.post-item{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.footer{
    background-color: var(--footer-bckg-color);
    color: var(--secondary-title-color);
}

a {
    color: var(--primary-title-color);
    text-decoration: none;
}

.footer a{
    /* color: var(--secondary-title-color); */
    color: rgba(255, 255, 255, 0.6);
}

 a:hover,
 a:focus{
    color: var(--accent-color);
}

.button {
    cursor: pointer;
}

.button:hover{
    color: var(--secondary-title-color);
    background-color: var(--accent-color);
}

/* portfolio.html */

.list-item{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
}

.text-list-item{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
}